.doggoPics {
    width: 90%;
    margin-left:5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doggoPic {
    border-radius: 3px;
    border: black solid 1px;
    background-color: rgb(150, 184, 3);
    font-size: auto;
    color: white;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
    width: 20%;
    display:grid;
    text-align: center;
}

.buttons{
    width: 90%;
    margin-left:5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button{
    border-radius: 3px;
    border: black solid 1px;
    background-color: rgb(150, 184, 3);
    font-size: auto;
    color: white;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
    width: 22.5%;
    display:grid;
    text-align: center;
}

.header {
    text-align: center;
    color: white;
    margin-bottom: 3%;
    background-color: rgb(60, 99, 2);
    padding: 1%;
}

.leaderboard {
    width:30%;
    text-align: center;
}

.bigButtonLeaders {
    text-align: center;
    background-color: rgb(22, 100, 74);
    color: white;
    font-size: 120%;
    padding: 1%;
    flex-basis: center;
    margin-left: 30%;
    margin-top: 3%;
}
.bigButtonGet {
    text-align: center;
    background-color: rgb(22, 100, 74);
    color: white;
    font-size: 120%;
    padding: 1%;
    flex-basis: center;
    margin-left: 36%;
    margin-bottom: 3%;
}